.main {
    background-color: #261C21;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}

.imgProjeto {
    height: 220px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

.detalheProjeto {
    height: 400px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.detalheProjeto h2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.divParagrafo p {
    width: 100%;
    max-width: 500px;
    color: #C2C2C2;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 20px;
}

.tituloEimagem {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tituloEimagem div {
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    gap: 30px;
}

.link {
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 180px;
    height: 45px;
    background-color: #3F8E00;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    font-family: "IBM Plex Mono", sans-serif;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 3px 2px #62BA1B;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    background-color: #326607;
    box-shadow: 0 0 3px 2px #326607;
}

.sectionSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #261C21 0%, #6E1E62 50%, #261C21 100%);
    padding: 60px 20px;
}

.sectionSkills div {
    margin-top: 20px;
}

.titleSkills {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.containerSkill {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.containerSkill div {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #261C21;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imgIcon {
    width: 100px;
    height: 100px;
    transition: .3s;
}

.imgIcon:hover {
    transform: scale(1.3);
}

@media (min-width: 1024px) {
    .detalheProjeto {
        flex-direction: row;
    }

    .sectionSkills {
        flex-direction: row;
        padding: 60px 20px;
    }

    .titleSkills {
        font-size: 40px;
    }

    .imgProjeto {
        height: 220px;
        width: 100%;
    }

    .link {
        width: 180px;
    }

    .containerSkill {
        gap: 40px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .sectionSkills {
        flex-direction: column;
        padding: 50px 20px;
    }

    .titleSkills {
        font-size: 35px;
    }

    .divParagrafo p {
        text-align: center;
    }

    .imgProjeto {
        height: 200px;
        width: 100%;
    }

    .link {
        width: 100%;
        padding: 20px 40px 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerSkill {
        gap: 30px;
    }
}


@media (max-width: 767px) {
    .detalheProjeto {
        flex-direction: column;
    }

    .sectionSkills {
        flex-direction: column;
        padding: 40px 10px;
    }

    .titleSkills {
        font-size: 30px;
    }

    .imgProjeto {
        height: 180px;
        width: 100%;
    }

    .link {
        width: 100%;
        padding: 20px 40px 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerSkill {
        gap: 20px;
    }

    .divParagrafo p {
        text-align: center;
        padding: 10px;
        font-size: 12px;
    }


}

