.nav {
    background: #6E1E62;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.linksAncora a:hover {
    color: #838282; 
}

.linksAncora {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
    width: 100%; 
}

.linksAncora a {
    margin-left: 0; 
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.linksPerfil {
    display: flex;
    justify-content: center;
    gap: 10px; 
    width: 100%;
}

.linksPerfil a img {
    max-width: 30px; 
    height: auto;
}

@media (max-width: 420px) {
    .linksAncora a {
        font-size: 14px; 
    }

    .linksPerfil a img {
        max-width: 25px; 
    }

    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; 
    }
}