.nav {
    background: linear-gradient(to top, rgb(36, 25, 29) 0%, #6E1E62 100%);
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.linksAncora a {
    margin-left: 50px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.linksAncora a:hover {
    color: #838282; 
}

.linksPerfil a {
    margin-right: 30px;
}